name: CI

on: push

jobs:
  elixir:
    name: Elixir ${{ matrix.elixir }} (OTP ${{ matrix.otp }})
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
    services:
      db:
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        image: postgres:14-alpine
        ports: ['5432:5432']
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    strategy:
      matrix:
        include:
          - elixir: '1.14.3'
            otp: '25.2.3'

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.10.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v3

      - name: Setup Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - name: Restore Mix Dependencies Cache
        uses: actions/cache@v3
        id: mix-deps
        with:
          path: deps
          key: mix-deps-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-${{ env.cache-name }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            mix-deps-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-${{ env.cache-name }}-
            mix-deps-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-

      - name: Restore Mix Build Cache
        uses: actions/cache@v3
        id: mix-build
        with:
          path: _build
          key: mix-build-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-${{ env.cache-name }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            mix-build-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-${{ env.cache-name }}-
            mix-build-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-

      - name: Restore PLT cache
        uses: actions/cache@v3
        id: plt-cache
        with:
          path: priv/plts
          key: plt-${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.otp }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: plt-${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.otp }}-${{ hashFiles('**/mix.lock') }}

      - name: Install Mix Dependencies
        if: steps.mix-deps.outputs.cache-hit != 'true'
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      - name: Compile Project
        if: steps.mix-build.outputs.cache-hit != 'true'
        run: |
          MIX_ENV=test mix compile --warnings-as-errors
          MIX_ENV=dev mix compile --warnings-as-errors

      - name: Check Unused Dependencies
        run: mix deps.unlock --check-unused

      - name: Check Code Formatting
        run: mix format --check-formatted

      - name: Run Tests
        run: mix test --trace --slowest 10

      - name: Run Credo
        run: mix credo --strict

      - name: Create PLT
        if: steps.plt-cache.outputs.cache-hit != 'true'
        run: MIX_ENV=dev mix dialyzer --plt

      - name: Run Dialyzer
        run: MIX_ENV=dev mix dialyzer --no-check --halt-exit-status --format github
